<!-- <ion-content>
  <ion-button shape="round" color="black" type="button" (click)="close(true)"
    >Close
  </ion-button>
  <h1>Reseña</h1>

  <h4>¿Qué tal el servicio de {{ providerName }}</h4>

  <ion-row radio-group (ionChange)="setRating($event)">
    <ion-col>
      <ion-item>
        <ion-label>A</ion-label>
        <ion-radio mode="md" item-left value="0"></ion-radio>
      </ion-item>
    </ion-col>

    <ion-col>
      <ion-item>
        <ion-label>1</ion-label>
        <ion-radio mode="md" item-left value="1"></ion-radio>
      </ion-item>
    </ion-col>

    <ion-col>
      <ion-item>
        <ion-label>2</ion-label>
        <ion-radio mode="md" item-left value="2"></ion-radio>
      </ion-item>
    </ion-col>

    <ion-col>
      <ion-item>
        <ion-label>3</ion-label>
        <ion-radio mode="md" item-left value="3"></ion-radio>
      </ion-item>
    </ion-col>

    <ion-col>
      <ion-item>
        <ion-label>4</ion-label>
        <ion-radio mode="md" item-left value="4"></ion-radio>
      </ion-item>
    </ion-col>

    <ion-col>
      <ion-item>
        <ion-label>5</ion-label>
        <ion-radio mode="md" item-left value="5"></ion-radio>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-item>
    <ion-label position="floating">Comentario</ion-label>
    <ion-input type="text" (ionChange)="setComentario($event)"></ion-input>
  </ion-item>

  <div class="login-button-container">
    <ion-button
      expand="full"
      shape="round"
      color="success"
      type="button"
      (click)="createReview()"
    >
      Save
    </ion-button>
  </div>
</ion-content> -->
<div class="cart-header">
  <ion-button (click)="close(true)" slot="end">
    <ion-icon fill="clear" slot="icon-only" name="close-outline"></ion-icon>
  </ion-button>
</div>

<ion-content>
  <h3 class="content-title">Califica tu servicio con {{ providerName }}:</h3>
  <ion-list>
    <ion-radio-group #paymentRadioGroup (ionChange)="setRating($event)">
      <ion-item>
        <ion-card>
          <ion-card-content>
            <p>1</p>
            <div class="selection-radio">
              <ion-radio value="1" slot="end" color="success"></ion-radio>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-item>

      <ion-item>
        <ion-card>
          <ion-card-content>
            <p>2</p>
            <div class="selection-radio">
              <ion-radio value="2" slot="end" color="success"></ion-radio>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-item>

      <ion-item>
        <ion-card>
          <ion-card-content>
            <p>3</p>
            <div class="selection-radio">
              <ion-radio value="3" slot="end" color="success"></ion-radio>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-item>

      <ion-item>
        <ion-card>
          <ion-card-content>
            <p>4</p>
            <div class="selection-radio">
              <ion-radio value="4" slot="end" color="success"></ion-radio>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-item>

      <ion-item>
        <ion-card>
          <ion-card-content>
            <p>5</p>
            <div class="selection-radio">
              <ion-radio value="5" slot="end" color="success"></ion-radio>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-radio-group>
    <ion-item>
      <ion-label position="floating">Comentario</ion-label>
      <ion-input
        type="text"
        [(ngModel)]="providerReview.comentario"
      ></ion-input>
    </ion-item>
  </ion-list>

  <div class="selection-btn-container">
    <ion-button
      expand="block"
      [disabled]="providerReview.serviceRating == 0"
      fill="solid"
      (click)="close()"
      shape="round"
    >
      Calificar
    </ion-button>
  </div>
</ion-content>
