<ion-header>
    <ion-toolbar>
        <ion-title>Editar Dirección</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="close()">
                <ion-icon slot="icon-only" name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label position="floating">Dirección 1</ion-label>
        <ion-input (ionChange)="setDireccion1($event)" [(ngModel)]="address.direccion1"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Dirección 2</ion-label>
        <ion-input (ionChange)="setDireccion2($event)" [(ngModel)]="address.direccion2"></ion-input>
    </ion-item>

    <div class="login-button-container">
        <ion-button expand="full" shape="round" color="success" type="button" (click)="update()">
            Save
        </ion-button>
    </div>
</ion-content>