<ion-header>
  <ion-toolbar>
    <ion-title> Agendar Servicio </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <!-- <ion-button (click)="today()">Today</ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Seleccione un dia:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-calendar
        [(ngModel)]="date"
        (change)="pickDay($event)"
        [type]="type"
        [options]="calendarOptions"
        [format]="'YYYY-MM-DD'"
      >
      </ion-calendar>
    </ion-card-content>
  </ion-card>
  <div class="availability" *ngIf="date">
    <ion-title class="selected-day"> {{date | date:'fullDate'}}</ion-title>
    <ion-title
      >Disponible: {{isAvailable.from | date:'h:mm a'}} - {{isAvailable.to |
      date:'h:mm a'}}</ion-title
    >
    <ion-title>Horas disponibles:</ion-title>

    <ion-button *ngFor="let availability of providerAvailabilities | async">
      Hola
    </ion-button>
    <ion-card class="available-hours"> </ion-card>
  </div>
</ion-content>
