<ion-header>
  <ion-toolbar>
    <ion-title> Agendar Servicio </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <!-- <ion-button (click)="today()">Today</ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Seleccione un dia:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-calendar
        [(ngModel)]="date"
        (change)="pickDay($event)"
        [type]="type"
        [options]="calendarOptions"
        [format]="'YYYY-MM-DD'"
      >
      </ion-calendar>
    </ion-card-content>
  </ion-card>

  <div class="availability" *ngIf="date">
    <ion-title class="selected-day"> {{date | date:'fullDate'}}</ion-title>
    <ion-title
      >Disponible: {{isAvailableHourRange.from | date:'h:mm a'}} -
      {{isAvailableHourRange.to | date:'h:mm a'}}</ion-title
    >
    <ion-title>Horas disponibles:</ion-title>
  </div>

  <div id="timeSlots" class="available-spaces">
    <ion-grid fixed *ngIf="date">
      <ion-row>
        <ion-col *ngFor="let availability of availableSpaces" size="4">
          <ion-button
            #hourButton
            [ngClass]="{
                'available-hours-btn': availability.selected == false,
                'available-hours-btn-pressed': availability.selected == true
              }"
            (click)="selectHour(availability)"
            expand="block"
            >{{availability.value | date: 'h:mm a'}}</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title slot="start">RD$ {{getAmmount()}}.00</ion-title>
    <ion-button
      slot="end"
      #hourButton
      [disabled]="!selectedTimeSlot"
      (click)="goToCheckout()"
      class="available-hours-btn continue-btn"
      >Continuar</ion-button
    >
  </ion-toolbar>
</ion-footer>
