<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-button routerLink="">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content  fullscreen>

    <div class="company-logo">
        <ion-label class="business-name-title">La Barberia</ion-label>
        <ion-avatar class="center">
            <img src="https://via.placeholder.com/150x150" />
        </ion-avatar>
    </div>

    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>

            <div class="business-info">

                <ion-text class="titulo">Direccion</ion-text>
                <p>
                    <ion-text color="dark"><h6>Ave. Ejemplo ejemplo, ejemplo ejemplo.</h6></ion-text>
                </p>

                <ion-text class="titulo">Horario</ion-text>
                <p>
                    <ion-text color="dark">Lunes a Viernes | 8:00 AM - 10:00 PM </ion-text>
                </p>
                <ion-text class="titulo">Servicios</ion-text>

            </div>

            <app-category-filter [categories]="categories" [elementsList]="services" (filteredElements)="setServicesByCategory($event)">
            </app-category-filter>

            <div class="services-list">
                <ng-container *ngFor="let service of services; let i = index">
                    <ion-text *ngIf="servicesByCategory[i]?.category != ''">
                        <h4>{{category}}</h4>
                    </ion-text>
                    <ion-grid>
                        <ion-row>
                            <ion-col size="4" *ngFor="let service of servicesByCategory[i]">
                                <ion-card>
                                    <ion-card-content>

                                        <div class="service-info">
                                            <ion-avatar class="center">
                                                <img src="https://via.placeholder.com/80x80" />
                                            </ion-avatar>
                                            <h6 class="avatar-title">{{service.name}}</h6>
                                            <h6 class="avatar-title">{{service.price}}</h6>
                                        </div>
                                    </ion-card-content>
                                </ion-card>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ng-container>
            </div>

        </ion-slide>

        <ion-slide>
            <app-providers></app-providers>
        </ion-slide>

    </ion-slides>
</ion-content>