<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button routerLink="">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="company-logo">
    <div class="loc-btn-container">
      <ion-button class="location-btn" shape="round" (click)="pickUpLocation()">
        Ubicación
      </ion-button>
    </div>

    <div class="provider-image-container">
      <ion-avatar>
        <img [src]="provider_aux.profilePicture" />
      </ion-avatar>
    </div>
    <ion-label class="business-name-title"
      >{{provider_aux.nombres}} {{provider_aux.apellidos}}</ion-label
    >
    <ion-text color="warning">
      <p>{{provider_aux.rating}} <ion-icon name="star"></ion-icon></p>
    </ion-text>
  </div>

  <ion-text>
    <h4>Servicios</h4>
  </ion-text>

  <div class="services-list">
    <div class="service-list-item" *ngFor="let service of providerServices">
      <!-- <ion-card (click)="goToSchedule(service)"> -->
      <ion-card>
        <ion-card-content>
          <div class="service-info">
            <h6 class="service-title">{{service.serviceName}}</h6>
            <h6 class="service-price">RD${{service.price}}.00</h6>
          </div>
        </ion-card-content>
      </ion-card>
      <ion-checkbox
        #serviceCheckbox
        [(ngModel)]="service.selected"
        (ionChange)="addService(service)"
        slot="end"
      >
      </ion-checkbox>
    </div>
    <div
      style="display: flex; justify-content: center"
      *ngIf="providerServices.length == 0"
    >
      <p>Este proveedor aun no tiene registrado ningún servicio.</p>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title slot="start">{{getAmmount() | dominicanCurrency}}</ion-title>
    <ion-button
      slot="end"
      #hourButton
      [disabled]="!selectedServices.length"
      (click)="goToSchedule()"
      class="available-hours-btn continue-btn"
      >Continuar</ion-button
    >
  </ion-toolbar>
</ion-footer>

<!-- <ion-toolbar>
    <ion-buttons>
      <ion-button routerLink="">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="company-logo">
    <ion-label class="business-name-title">{{business.name}}</ion-label>
    <ion-avatar class="center">
      <img src="https://via.placeholder.com/150x150" />
    </ion-avatar>
  </div>

  <div>
    <ion-text>
      <h4>Direccion</h4>
    </ion-text>
    <p>
      <ion-text color="dark">
        <h6>{{business.address}}</h6>
      </ion-text>
    </p>

    <ion-text>
      <h4>Horario</h4>
    </ion-text>
    <p>
      <ion-text color="dark"
        >{{business.days}} | {{business.startTime}} - {{business.endTime}}
      </ion-text>
    </p>
  </div>
  <ion-text>
    <h4>Servicios</h4>
  </ion-text>
  <app-category-filter
    [categories]="categories"
    [elementsList]="services"
    (filteredElements)="setServicesByCategory($event)"
  >
  </app-category-filter>

  <div class="services-list">
    <ng-container *ngFor="let category of categories; let i = index">
      <ion-text *ngIf="servicesByCategory[i].length > 0">
        <h4>{{category}}</h4>
      </ion-text>
      <ion-grid>
        <ion-row size="4" *ngFor="let service of servicesByCategory[i]">
          <ion-card class="service-card" (click)="selectProvider(service)">
            <ion-card-content>
              <div class="service-info">
                <h6 class="service-title">{{service.serviceName}}</h6>
                <h6 class="service-price">RD${{service.price}}.00</h6>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-row>
      </ion-grid>
    </ng-container>
  </div>
</ion-content> -->
