<ion-header>
  <ion-toolbar>
    <ion-title>Disponibilidad</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div
    class="availability-form-container"
    *ngFor="let availability of availabilitySchema"
  >
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ availability.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label>Desde:</ion-label>
            <ion-datetime
              minuteValues="0,30"
              display-format="h:mm A"
              picker-format="h:mm A"
              (ionChange)="setStart($event, availability.dia)"
              [(ngModel)]="availabilitySchema[availability.dia].horaDesdeF"
            ></ion-datetime>
          </ion-item>

          <ion-item>
            <ion-label>Hasta:</ion-label>
            <ion-datetime
              minuteValues="0,30"
              display-format="h:mm A"
              picker-format="h:mm A"
              (ionChange)="setEnd($event, availability.dia)"
              [(ngModel)]="availabilitySchema[availability.dia].horaHastaF"
            ></ion-datetime>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
  <div class="login-button-container">
    <ion-button
      expand="full"
      shape="round"
      color="success"
      type="button"
      (click)="update()"
    >
      Guardar
    </ion-button>
  </div>
</ion-content>
