<ion-slides [options]="slideOps" *ngIf="providers?.length">
  <ion-slide *ngFor="let provider of providers">
    <ion-card (click)="goToDetailPage(provider)" class="company-slide-item">
      <div class="company-image-container">
        <img [src]="provider.image" />
      </div>
      <ion-card-header>
        <ion-card-title>{{ provider.nombres }}</ion-card-title>
        <!-- <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle> -->
      </ion-card-header>
    </ion-card>
  </ion-slide>
</ion-slides>
