<ion-slides [options]="slideOps" *ngIf="providers?.length">
  <ion-slide *ngFor="let provider of providers">
    <ion-card (click)="goToDetailPage(provider)" class="provider-slide-item">
      <ion-card-content>
        <div class="provider-slide-content">
          <div class="provider-image-container">
            <ion-avatar>
              <img [src]="provider.profilePicture" />
            </ion-avatar>
          </div>
          <div class="provider-data">
            <ion-title>{{ provider.nombres }}</ion-title>
            <p>{{ provider.direccion2 }}</p>
            <ion-text color="warning">
              <p>{{ provider.rating }}</p>
              <ion-icon name="star"></ion-icon>
            </ion-text>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card (click)="goToListing()" class="provider-slide-item">
      <ion-card-content>
        <div class="provider-slide-content">
          <div class="provider-image-container">
            <ion-avatar>
              <ion-icon name="add"></ion-icon>
            </ion-avatar>
          </div>
          <div class="provider-data">
            <ion-title>Ver Todos</ion-title>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-slide>
</ion-slides>
