<ion-header>
    <ion-toolbar>
        <ion-title>Editar Perfil:</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="close()">
                <ion-icon slot="icon-only" name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="main-header">
        <div align="center">
            <ion-avatar>
                <img src="{{ userList[0].profile_pic }}" />
            </ion-avatar>
            <ion-label>{{ userList[0].name }} {{ userList[0].last_name }}</ion-label>
        </div>
    </ion-grid>

    <ion-list lines="full" *ngIf="userList[0].role === 'client'">
        <ion-item>
            <ion-label>
                <ion-text>Nombre:</ion-text>
            </ion-label>
            <p>
                <ion-textarea placeholder="{{ userList[0].name }}" (ionChange)="changeName($event)"></ion-textarea>
            </p>
        </ion-item>

        <ion-item>
            <ion-label>
                <ion-text>Apellidos:</ion-text>
            </ion-label>
            <p>
                <ion-textarea placeholder="{{ userList[0].last_name }}" (ionChange)="changeLastName($event)"></ion-textarea>
            </p>
        </ion-item>
        <ion-item>
            <ion-label>
                <ion-text>Teléfono:</ion-text>
            </ion-label>
            <p>
                <ion-textarea placeholder="{{ userList[0].phone }}" (ionChange)="changePhone($event)"></ion-textarea>
            </p>
        </ion-item>
    </ion-list>

    <div>
        <ion-button (click)="close(true)">Guardar</ion-button>
    </div>
</ion-content>