<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-button *ngIf="isNew" (click)="loadMap()" shape="round" color="dark">
      <ion-icon slot="start" name="locate"></ion-icon>
      ¿Dónde estoy?
    </ion-button>
    <ion-button slot="end" (click)="close()">
      <ion-icon fill="clear" slot="icon-only" name="close-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="map-wrapper">
    <div id="map_center">
      <img *ngIf="isNew" src="../../../../../assets/icon/location-marker.png" />
    </div>
    <div #map id="map"></div>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <b>Dirección</b>
      </ion-col>
      <ion-col>
        {{ address }}
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button
    *ngIf="isNew"
    (click)="close(true)"
    expand="block"
    fill="clear"
    shape="round"
  >
    Seleccionar
  </ion-button>
</ion-content>
