<ion-header>
  <ion-toolbar>
    <ion-title> Mi Cuenta </ion-title>
    <ion-buttons slot="end">
      <!-- <ion-button *ngIf="currentUser?.Role == 1" fill="clear" (click)="openModal()">EDIT</ion-button>
            <ion-button *ngIf="currentUser?.Role == 2" fill="clear" (click)="logout()">Cerrar Sesion</ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-user-data
    [currentClient]="currentUser"
    *ngIf="currentUser?.Role == 1"
  ></app-user-data>
  <app-provider-profile
    [currentProvider]="currentUser"
    *ngIf="currentUser?.Role == 2"
  ></app-provider-profile>
</ion-content>
