<ion-header>
    <ion-toolbar>
        <ion-title>
            Mi Cuenta
        </ion-title>
        <ion-buttons slot="end">
            <ion-button fill="clear">EDIT</ion-button>
        </ion-buttons>

    </ion-toolbar>

</ion-header>

<ion-content>
    <ion-grid class="main-header">
        <div align="center">
            <ion-avatar>
                <img src="assets/avatar.png" />
            </ion-avatar>
            <ion-label>Ariel Gonzalez</ion-label>
        </div>
    </ion-grid>

    <ion-row class="ion-padding-horizontal">
        <ion-col size="6">
            <ion-item lines="none" class="ion-text-center">
                <ion-icon name="cut" color="primary"></ion-icon>
                <ion-label>
                    34
                    <p>Citas realizadas</p>
                </ion-label>
            </ion-item>
        </ion-col>
        <ion-col size="6">
            <ion-item lines="none" class="ion-text-center">
                <ion-icon name="trophy" color="primary"></ion-icon>
                <ion-label>
                    5
                    <p>Citas premiadas</p>
                </ion-label>
            </ion-item>
        </ion-col>
    </ion-row>

    <ion-list lines="full">
        <ion-item>
            <ion-label>
                <ion-text>Nombre</ion-text>
                <p>
                    <ion-text color="dark">Ariel</ion-text>
                </p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <ion-text>Apellidos</ion-text>
                <p>
                    <ion-text color="dark">Gonzalez Batista</ion-text>
                </p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <ion-text>Teléfono</ion-text>
                <p>
                    <ion-text color="dark">8099900000</ion-text>
                </p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <ion-text>Email</ion-text>
                <p>
                    <ion-text color="dark">ariel@xyz.com</ion-text>
                </p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <ion-text>Edad</ion-text>
                <p>
                    <ion-text color="dark">22 years</ion-text>
                </p>
            </ion-label>
        </ion-item>

    </ion-list>

</ion-content>