.cart-header {
  padding: 15px;
  color: black;
  display: flex;
  justify-content: space-between;

  ion-button {
    margin-top: 12px;
    --background: transparent;
    --box-shadow: 0;
  }
  ion-icon {
    zoom: 1.2;
    color: gray;
  }
}

ion-item {
  padding: 15px;
}
.cart-item {
  width: 100%;
  display: flex;
  flex-direction: column;

  ion-button {
    --color: black;
    margin-top: 12px;
    --background: transparent;
    --box-shadow: 0;
  }
  .item-description {
    display: flex;
    justify-content: space-between;
  }
}
