<div class="cart-header">
  <h3>Carrito</h3>
  <ion-button slot="icon-only">
    <ion-icon fill="clear" slot="icon-only" name="close-outline"></ion-icon>
  </ion-button>
</div>
<ion-content>
  <ion-list>
    <ion-item>
      <div class="cart-item">
        <ion-button slot="end">
          <ion-icon
            fill="clear"
            slot="icon-only"
            name="close-outline"
          ></ion-icon>
        </ion-button>
        <h6>Proveedor: Ariel Solano</h6>
        <div class="item-description">
          <h6 class="item-name">Servicio</h6>
          <h6 class="item-price">RD$500.00</h6>
        </div>
      </div>
    </ion-item>
    <ion-item>
      <ion-label>Total</ion-label>
      <h6 class="item-price">RD$500.00</h6>
    </ion-item>
  </ion-list>
</ion-content>
