<ion-header>
  <ion-toolbar>
    <ion-title>Mi Calendario</ion-title>
  </ion-toolbar>
</ion-header>

<div class="next-previous-btn">
  <ion-button fill="clear" (click)="back()">
    <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
  </ion-button>
  <!-- </ion-col> -->
  <ion-title> {{ viewTitle }} </ion-title>
  <!-- Move forward one screen of the slides -->
  <!-- <ion-col size="6" text-right> -->
  <ion-button fill="clear" (click)="next()">
    <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
  </ion-button>
</div>

<ion-content>
  <calendar
    [eventSource]="eventSource"
    [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate"
    (onEventSelected)="onEventSelected($event)"
    (onTitleChanged)="onViewTitleChanged($event)"
    [step]="30"
    [startingDayWeek]="1"
    [startHour]="0"
  >
  </calendar>
</ion-content>
<!--    [allDayLabel]="hide" -->
