    /*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
    /* Core CSS required for Ionic components to work properly */
    
    @import "~@ionic/angular/css/core.css";
    /* Basic CSS for apps built with Ionic */
    
    @import "~@ionic/angular/css/normalize.css";
    @import "~@ionic/angular/css/structure.css";
    @import "~@ionic/angular/css/typography.css";
    @import "~@ionic/angular/css/display.css";
    /* Optional CSS utils that can be commented out */
    
    @import "~@ionic/angular/css/padding.css";
    @import "~@ionic/angular/css/float-elements.css";
    @import "~@ionic/angular/css/text-alignment.css";
    @import "~@ionic/angular/css/text-transformation.css";
    @import "~@ionic/angular/css/flex-utils.css";
    //global classes
     :root {
        --ion-safe-area-top: 20px;
    }
    
    ion-content {
        ion-text {
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                padding-left: 16px;
            }
        }
        ion-label {
            padding-left: 16px;
        }
    }
    
    ion-chip {
        ion-label {
            padding-left: 0;
        }
    }
    
    .centered-container {
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    
    .center {
        margin: auto;
        width: 60%;
        padding: 10px;
    }
    
    ion-grid {
        height: 100%;
        ion-row {
            height: 100%;
        }
    }
    
    ion-avatar {
        height: auto;
    }
    
    .avatar-title {
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
    }
    
    //HomePage:ServiceCategoriesComponent
    app-service-categories {
        .service-category-card {
            height: auto;
            ion-col {
                display: flex;
                justify-content: center;
            }
            ion-avatar {
                height: auto;
                width: 30%;
            }
        }
    }
    
    //HomePage:CompaniesCarouselComponent
    app-companies-carousel {
        ion-slides {
            ion-slide {
                .company-slide-item {
                    width: 100%;
                    .company-image-container {
                        height: 180px;
                    }
                    ion-card-title {
                        text-align: start;
                    }
                    ion-card-subtitle {
                        text-align: start;
                    }
                }
            }
        }
    }
    
    app-offers-carousel {
        ion-slides {
            height: 150px;
            div.swiper-pagination {
                bottom: 20px;
            }
            ion-slide {
                ion-card {
                    width: 100%;
                    height: 160px;
                    box-shadow: none;
                    border-radius: 12px;
                    img {
                        object-fit: cover;
                        width: 100%;
                        transform: scale(1.1, 1.1);
                    }
                }
            }
        }
    }
    
    app-providers {
        .company-logo {
            padding-top: 20px;
            ion-avatar {
                height: auto;
                width: 30%;
            }
        }
        .providers-list {
            ion-avatar {
                width: 100%;
            }
        }
    }
    
    //Shared:Category Filter Component
    app-category-filter {
        .cancel-chips-filter {
            display: flex;
            justify-content: flex-end;
        }
    }
    
    //BusinessDetailPage: Business
    app-business-detail {
        div {
            text-align: left;
        }
        app-category-filter {
            width: 100%;
        }
        .swiper-pagination {
            bottom: 20px !important;
            bottom: calc(env(safe-area-inset-bottom) + 20px) !important;
            padding: auto;
        }
        .swiper-container {
            height: initial;
            app-providers {
                width: 100%;
            }
            div {
                text-align: left;
            }
            .wrapper * {
                height: 100%;
                width: 100%;
            }
            .swiper-slide {
                flex-direction: column;
            }
            .swiper-container {
                height: initial;
            }
            .company-logo {
                padding-top: 20px;
                ion-avatar {
                    height: auto;
                    width: 30%;
                }
            }
            .services-list {
                .service-title {
                    text-align: left;
                }
                .service-price {
                    text-align: right;
                }
                width: 90%;
                ion-avatar {
                    width: 100%;
                }
                ion-card {
                    width: 90%;
                }
            }
            ion-slides {
                height: 100%;
            }
        }
        app-business-card {
            .card {
                width: 100%;
                height: 1%;
                padding: 1.6rem 2rem;
                background: #f3f3f3;
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;
                border-radius: 2.5rem;
                margin-bottom: 1.5rem;
                .card-content {
                    text-align: center;
                    .title {
                        font-weight: 700;
                        font-size: 1.3rem;
                        margin-bottom: 0.2rem;
                        color: #1d1d1d;
                    }
                    .subtitle {
                        font-size: 1.1rem;
                        font-weight: 700;
                        color: #ffb800;
                        margin-top: 0;
                    }
                    .subtitle1 {
                        font-size: 0.9rem;
                        font-weight: 700;
                        color: #1d1d1d;
                        margin-top: 0;
                    }
                }
            }
        }
    }