ion-footer {
    ion-toolbar {
        --background: rgb(73, 176, 207);
        --color: white;
    }
    // ion-toolbar:active {
    //   --background: rgb(49, 114, 134);
    //   --color: white;
    // }
    text-align: center;
}
.payPal-container {
  padding: 12px;
}
