<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button *ngIf="currentRole == 1" tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="currentRole == 1" tab="map">
      <ion-icon name="search"></ion-icon>
      <ion-label>Búsqueda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calendar">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Calendario</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
