<ion-header>
  <ion-toolbar>
    <ion-title>providers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="company-logo">
    <ion-avatar class="center">
      <img src="https://via.placeholder.com/80x80" />
    </ion-avatar>
  </div>
  <ion-text><h4>Proveedores</h4></ion-text>
  <div class="providers-list">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-card>
            <ion-card-content>
              <div class="provider-rating">
                <ion-icon slot="start" name="star"></ion-icon>
                <span>4.3</span>
              </div>
              <div class="provider-info">
                <ion-avatar class="center">
                  <img src="https://via.placeholder.com/80x80" />
                </ion-avatar>
                <h6 class="avatar-title">Julian Encarnación</h6>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card>
            <ion-card-content>
              <div class="provider-rating">
                <ion-icon slot="start" name="star"></ion-icon>
                <span>4.3</span>
              </div>
              <div class="provider-info">
                <ion-avatar class="center">
                  <img src="https://via.placeholder.com/80x80" />
                </ion-avatar>
                <h6 class="avatar-title">Julian Encarnación</h6>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card>
            <ion-card-content>
              <div class="provider-rating">
                <ion-icon slot="start" name="star"></ion-icon>
                <span>4.3</span>
              </div>
              <div class="provider-info">
                <ion-avatar class="center">
                  <img src="https://via.placeholder.com/80x80" />
                </ion-avatar>
                <h6 class="avatar-title">Julian Encarnación</h6>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
